.banner {
  height: 500px;
  width: 100%;
  padding: 50px 200px;
}

.hi {
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  color: aqua;
  font-weight: normal;
}

.name {
  font-size: 4rem;
  font-weight: bolder;
  color: white;
  margin-left: -3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(184, 184, 174);
}

div button {
  border-radius: 5px;
  background: none;
  width: 200px;
  height: 50px;
  color: aquamarine;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}
