.footer {
  display: flex;
  justify-content: center;
  height: 200px;
  background: rgb(193, 193, 222);
  background: linear-gradient(
    90deg,
    rgba(193, 193, 222, 1) 0%,
    rgba(10, 25, 47, 1) 53%,
    rgba(11, 9, 38, 1) 100%
  );
}

.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 95%;
  background-color: #0b1a30;
}

.footer div span {
  color: white;
  font-size: 1rem;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}
