/*.back-color {
  background: rgb(43, 43, 65);
  background: linear-gradient(
    90deg,
    rgba(43, 43, 65, 1) 0%,
    rgba(94, 96, 195, 1) 53%,
    rgba(11, 9, 38, 1) 55%
  );
} */

.back-color {
  background: rgb(193, 193, 222);
  background: linear-gradient(
    90deg,
    rgba(193, 193, 222, 1) 0%,
    rgba(10, 25, 47, 1) 53%,
    rgba(11, 9, 38, 1) 100%
  );
}
